#For partition
tdm_control -type hstdm
tdm_control -hstdm_bit_rate 1400
tdm_control -qualification_mode  all
tdm_control -max_ratio 16
#tdm_control -max_ratio 8 

#cell assign
bin_attribute {FB1.uC FB1.uD} -locked
#assign_cell {cnt_inst1 cnt_inst2} {FB1.uA}
#assign_cell {led_inst1 led_inst2} {FB1.uB}

#Global clock assign
assign_global_net {clk} {GCLK1}
# assign_global_net {clk2} {GCLK2}  # only use 1 clock

#reset
assign_virtual_port -port {reset} -type USR_LOCAL_RESET -bin {FB1.uA}
reset_synchronize -toplevel_net {reset} -clock {clk} -init {0} -extra_pipeline_stages {2}

#TOP IO assign

# B[5] -> A[2]-A[11]
assign_port {busy} {TOP_IO_HT3_FB1_B5/A[2]}
assign_port {ready} {TOP_IO_HT3_FB1_B5/A[3]}
assign_port {iaddr[0]} {TOP_IO_HT3_FB1_B5/A[4]}
assign_port {iaddr[1]} {TOP_IO_HT3_FB1_B5/A[5]}
assign_port {iaddr[2]} {TOP_IO_HT3_FB1_B5/A[6]}
assign_port {iaddr[3]} {TOP_IO_HT3_FB1_B5/A[7]}
assign_port {iaddr[4]} {TOP_IO_HT3_FB1_B5/A[8]}
assign_port {iaddr[5]} {TOP_IO_HT3_FB1_B5/A[9]}
assign_port {iaddr[6]} {TOP_IO_HT3_FB1_B5/A[10]}
assign_port {csel[1]} {TOP_IO_HT3_FB1_B5/A[11]}

# B[5] -> B[2]-B[11]
assign_port {csel[2]} {TOP_IO_HT3_FB1_B5/B[2]}
assign_port {iaddr[7]} {TOP_IO_HT3_FB1_B5/B[3]}
assign_port {iaddr[8]} {TOP_IO_HT3_FB1_B5/B[4]}
assign_port {iaddr[9]} {TOP_IO_HT3_FB1_B5/B[5]}
assign_port {iaddr[10]} {TOP_IO_HT3_FB1_B5/B[6]}
assign_port {iaddr[11]} {TOP_IO_HT3_FB1_B5/B[7]}
assign_port {idata[0]} {TOP_IO_HT3_FB1_B5/B[8]}
assign_port {idata[1]} {TOP_IO_HT3_FB1_B5/B[9]}
assign_port {idata[2]} {TOP_IO_HT3_FB1_B5/B[10]}
assign_port {idata[3]} {TOP_IO_HT3_FB1_B5/B[11]}

# B[5] -> C[2]-C[11]
assign_port {idata[4]} {TOP_IO_HT3_FB1_B5/C[2]}
assign_port {idata[5]} {TOP_IO_HT3_FB1_B5/C[3]}
assign_port {idata[6]} {TOP_IO_HT3_FB1_B5/C[4]}
assign_port {idata[7]} {TOP_IO_HT3_FB1_B5/C[5]}
assign_port {idata[8]} {TOP_IO_HT3_FB1_B5/C[6]}
assign_port {idata[9]} {TOP_IO_HT3_FB1_B5/C[7]}
assign_port {idata[10]} {TOP_IO_HT3_FB1_B5/C[8]}
assign_port {idata[11]} {TOP_IO_HT3_FB1_B5/C[9]}
assign_port {idata[12]} {TOP_IO_HT3_FB1_B5/C[10]}
assign_port {idata[13]} {TOP_IO_HT3_FB1_B5/C[11]}

# B[5] -> D[2]-D[11]
assign_port {idata[14]} {TOP_IO_HT3_FB1_B5/D[2]}
assign_port {idata[15]} {TOP_IO_HT3_FB1_B5/D[3]}
assign_port {idata[16]} {TOP_IO_HT3_FB1_B5/D[4]}
assign_port {idata[17]} {TOP_IO_HT3_FB1_B5/D[5]}
assign_port {idata[18]} {TOP_IO_HT3_FB1_B5/D[6]}
assign_port {idata[19]} {TOP_IO_HT3_FB1_B5/D[7]}
assign_port {cwr} {TOP_IO_HT3_FB1_B5/D[8]}
assign_port {caddr_wr[0]} {TOP_IO_HT3_FB1_B5/D[9]}
assign_port {caddr_wr[1]} {TOP_IO_HT3_FB1_B5/D[10]}
assign_port {caddr_wr[2]} {TOP_IO_HT3_FB1_B5/D[11]}

# B[6] -> A[2]-A[11]
assign_port {caddr_wr[3]} {TOP_IO_HT3_FB1_B6/A[2]}
assign_port {caddr_wr[4]} {TOP_IO_HT3_FB1_B6/A[3]}
assign_port {caddr_wr[5]} {TOP_IO_HT3_FB1_B6/A[4]}
assign_port {caddr_wr[6]} {TOP_IO_HT3_FB1_B6/A[5]}
assign_port {caddr_wr[7]} {TOP_IO_HT3_FB1_B6/A[6]}
assign_port {caddr_wr[8]} {TOP_IO_HT3_FB1_B6/A[7]}
assign_port {caddr_wr[9]} {TOP_IO_HT3_FB1_B6/A[8]}
assign_port {caddr_wr[10]} {TOP_IO_HT3_FB1_B6/A[9]}
assign_port {caddr_wr[11]} {TOP_IO_HT3_FB1_B6/A[10]}
assign_port {cdata_wr[0]} {TOP_IO_HT3_FB1_B6/A[11]}

# B[6] -> B[2]-B[11]
assign_port {cdata_wr[1]} {TOP_IO_HT3_FB1_B6/B[2]}
assign_port {cdata_wr[2]} {TOP_IO_HT3_FB1_B6/B[3]}
assign_port {cdata_wr[3]} {TOP_IO_HT3_FB1_B6/B[4]}
assign_port {cdata_wr[4]} {TOP_IO_HT3_FB1_B6/B[5]}
assign_port {cdata_wr[5]} {TOP_IO_HT3_FB1_B6/B[6]}
assign_port {cdata_wr[6]} {TOP_IO_HT3_FB1_B6/B[7]}
assign_port {cdata_wr[7]} {TOP_IO_HT3_FB1_B6/B[8]}
assign_port {cdata_wr[8]} {TOP_IO_HT3_FB1_B6/B[9]}
assign_port {cdata_wr[9]} {TOP_IO_HT3_FB1_B6/B[10]}
assign_port {cdata_wr[10]} {TOP_IO_HT3_FB1_B6/B[11]}

# B[6] -> C[2]-C[11]
assign_port {cdata_wr[11]} {TOP_IO_HT3_FB1_B6/C[2]}
assign_port {cdata_wr[12]} {TOP_IO_HT3_FB1_B6/C[3]}
assign_port {cdata_wr[13]} {TOP_IO_HT3_FB1_B6/C[4]}
assign_port {cdata_wr[14]} {TOP_IO_HT3_FB1_B6/C[5]}
assign_port {cdata_wr[15]} {TOP_IO_HT3_FB1_B6/C[6]}
assign_port {cdata_wr[16]} {TOP_IO_HT3_FB1_B6/C[7]}
assign_port {cdata_wr[17]} {TOP_IO_HT3_FB1_B6/C[8]}
assign_port {cdata_wr[18]} {TOP_IO_HT3_FB1_B6/C[9]}
assign_port {cdata_wr[19]} {TOP_IO_HT3_FB1_B6/C[10]}
assign_port {crd} {TOP_IO_HT3_FB1_B6/C[11]}

# B[6] -> D[2]-D[11]
assign_port {caddr_rd[0]} {TOP_IO_HT3_FB1_B6/D[2]}
assign_port {caddr_rd[1]} {TOP_IO_HT3_FB1_B6/D[3]}
assign_port {caddr_rd[2]} {TOP_IO_HT3_FB1_B6/D[4]}
assign_port {caddr_rd[3]} {TOP_IO_HT3_FB1_B6/D[5]}
assign_port {caddr_rd[4]} {TOP_IO_HT3_FB1_B6/D[6]}
assign_port {caddr_rd[5]} {TOP_IO_HT3_FB1_B6/D[7]}
assign_port {caddr_rd[6]} {TOP_IO_HT3_FB1_B6/D[8]}
assign_port {caddr_rd[7]} {TOP_IO_HT3_FB1_B6/D[9]}
assign_port {caddr_rd[8]} {TOP_IO_HT3_FB1_B6/D[10]}
assign_port {caddr_rd[9]} {TOP_IO_HT3_FB1_B6/D[11]}

# B[7] -> A[2]-A[11]
assign_port {caddr_rd[10]} {TOP_IO_HT3_FB1_B7/A[2]}
assign_port {caddr_rd[11]} {TOP_IO_HT3_FB1_B7/A[3]}
assign_port {cdata_rd[0]} {TOP_IO_HT3_FB1_B7/A[4]}
assign_port {cdata_rd[1]} {TOP_IO_HT3_FB1_B7/A[5]}
assign_port {cdata_rd[2]} {TOP_IO_HT3_FB1_B7/A[6]}
assign_port {cdata_rd[3]} {TOP_IO_HT3_FB1_B7/A[7]}
assign_port {cdata_rd[4]} {TOP_IO_HT3_FB1_B7/A[8]}
assign_port {cdata_rd[5]} {TOP_IO_HT3_FB1_B7/A[9]}
assign_port {cdata_rd[6]} {TOP_IO_HT3_FB1_B7/A[10]}
assign_port {cdata_rd[7]} {TOP_IO_HT3_FB1_B7/A[11]}

# B[7] -> B[2]-B[11]
assign_port {cdata_rd[8]} {TOP_IO_HT3_FB1_B7/B[2]}
assign_port {cdata_rd[9]} {TOP_IO_HT3_FB1_B7/B[3]}
assign_port {cdata_rd[10]} {TOP_IO_HT3_FB1_B7/B[4]}
assign_port {cdata_rd[11]} {TOP_IO_HT3_FB1_B7/B[5]}
assign_port {cdata_rd[12]} {TOP_IO_HT3_FB1_B7/B[6]}
assign_port {cdata_rd[13]} {TOP_IO_HT3_FB1_B7/B[7]}
assign_port {cdata_rd[14]} {TOP_IO_HT3_FB1_B7/B[8]}
assign_port {cdata_rd[15]} {TOP_IO_HT3_FB1_B7/B[9]}
assign_port {cdata_rd[16]} {TOP_IO_HT3_FB1_B7/B[10]}
assign_port {cdata_rd[17]} {TOP_IO_HT3_FB1_B7/B[11]}

# B[7] -> C[2]-C[11]
assign_port {cdata_rd[18]} {TOP_IO_HT3_FB1_B7/C[2]}
assign_port {cdata_rd[19]} {TOP_IO_HT3_FB1_B7/C[3]}
assign_port {csel[0]} {TOP_IO_HT3_FB1_B7/C[4]}